*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-login {
    width: 320px;
    height: 300px;
    background: #4e5d4d;
    margin: auto;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    font-size:large;
    color: white;
}

.form-login h5{
    margin:0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size:24px;
}

.controls {
    width: 100%;
    height: 30px;
    margin-bottom: 16px;
    padding-left: 4px;
}

.controls-text{
    text-decoration: none;
    color: white;
}